@import "tailwindcss";
@import "@nuxt/ui";
@import "tw-animate-css";

@theme {
    --font-sans: 'Bitter', system-ui, sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
    --font-title: 'Archivo', sans-serif;
}

@theme static {
    /* Override default green color */
    --color-green-50: #f5ebec;
    --color-green-100: #e1c2c6;
    --color-green-200: #cd9aa0;
    --color-green-300: #b87179;
    --color-green-400: #a44853;
    --color-green-500: #9a3440;
    --color-green-600: #8b2f3a;
    --color-green-700: #6c242d;
    --color-green-800: #5c1f26;
    --color-green-900: #2e1013;
    --color-green-950: #0f0506;

    /* Define new custom color */
    --color-brand-50: #fef2f2;
    --color-brand-100: #fee2e2;
    --color-brand-200: #fecaca;
    --color-brand-300: #fca5a5;
    --color-brand-400: #f87171;
    --color-brand-500: #ef4444;
    --color-brand-600: #dc2626;
    --color-brand-700: #b91c1c;
    --color-brand-800: #991b1b;
    --color-brand-900: #7f1d1d;
    --color-brand-950: #450a0a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}

code, pre {
    font-family: var(--font-mono);
}


/* Page transition animations */

.page-enter-active {
    /* @apply animate__animated animate__fadeIn; */
    /* transition: all 0.5s ease-in-out; */
    transition: all 0.8s cubic-bezier(.77,.11,.49,.82);
}

.page-leave-active {
    /* @apply animate__animated animate__fadeOut; */
    /* transition: all 0.2s ease-in-out; */
    transition: all 0.2s cubic-bezier(.77,.11,.49,.82);
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100px);
}

.page-enter-to,
.page-leave-from {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
}
